<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>URL Shortener</title>
</head>
<body>
    <header>
        <h1>URL Shortener</h1>
    </header>

    <section class="input">
        <label for="inp">Paste Your URL</label>
        <input type="text" id="inpUrl" value="">
    </section>

    <section class="generate">
        <button id="btnGenerate">Generate</button>
    </section>

    <section class="input">
        <label for="out">Short URL</label>
        <a href="" id="outUrl"></a>
    </section>

    <script src="/static/js/client.js"></script>
</body>
</html>